:root {
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --h-text-color: #212121;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  transition: 0.3s all ease;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
/*Оформление логотипа*/
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo > .style-logo {
  color: var(--h-text-color);
}

/*Хедер*/
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
.navigation {
  list-style-type: none;
  display: flex;
}
.navigation-item {
  margin-right: 50px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .navigation-link {
  color: var(--h-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link.current-page {
  color: var(--accent-text-color);
}
.site-nav .navigation-link:hover,
.site-nav .navigation-link:focus {
  color: var(--accent-text-color);
}

.contacts {
  list-style-type: none;
  display: flex;
}
.contacts-item {
  margin-left: 50px;
}
.contacts-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

/*Оформление футера*/
.contact-info {
  padding-top: 60px;
  padding-bottom: 60px;
}
.style-logo-white {
  color: #ffff;
}
.footer-logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
.contact-info {
  background-color: #2f303a;
}
.address-studio {
  list-style-type: none;
  font-style: normal;
  padding-left: 0;
}
.link-map {
  color: #ffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-studio-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-map:hover,
.link-map:focus {
  color: var(--accent-text-color);
}
.address-studio-link:hover,
.address-studio-link:focus {
  color: var(--accent-text-color);
}

/*Оформление основного контента страници Студия*/
.hero {
  background-color: #2f303a;
}
.heading-hero {
  color: #ffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button {
  color: #ffff;
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  outline: none;
  transition: 0.3s all ease;
}
.hero-button:hover {
  opacity: 0.8;
}
/*Секция Преимущества*/
.advantages-container {
}
.hidden-title {
  display: none;
}
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
  margin-left: -15px;
  margin-right: -15px;
}
.advantages-item {
  padding-left: 15px;
  padding-right: 15px;
}
.advantages-title {
  color: var(--h-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.05em;
}

/*Секция Чем мы занимаемся*/
.work-section {
  padding-bottom: 94px;
}
.section-title {
  color: var(--h-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work {
  list-style-type: none;
}
.work-item {
  width: 33.333%;
}
.work-item img {
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*Секция Наша команда*/
.dream-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-item {
  width: 25%;
  padding: 0 15px;
}
.team-item-content {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: 0.5s all ease;
  cursor: pointer;
}
.team-item-content:hover {
  transform: translateY(-20px);
}
.team-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.team-title {
  color: var(--h-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/*Страница портфолио*/
.section-projects {
  padding-top: 94px;
  padding-bottom: 64px;
}
.filter-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter-buttons-item {
  margin-right: 8px;
}
.filter-buttons-style:focus,
.filter-buttons-style:hover {
  color: #ffff;
  background-color: var(--accent-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 0.5s all ease;
}
.filter-buttons-style {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

/*Галерея работ*/

.project {
  list-style: none;
}
.projet-item {
}
.projet-item-content {
}

.project-title {
  color: var(--h-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
